html {
    background-color:$primaryBackground;
    overflow-x:hidden;
}
.start__body{
    background-image:url('../images/starsbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Roboto';


}
 
video{
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    display:block;
}

body{
    background-color:$primaryBackground;
}




*{
    box-sizing: border-box;
}



a:hover{
    text-decoration: none;

}

.main-content{
    max-width: 1400px;
    margin: auto;
}