.about{
    text-align: center;
    margin:2em;
    .about__heading{
    color:white;
    font-family: 'Roboto';
    }
    .about__paragraph{
        font-size: 1.2em;
        font-family: 'Roboto';
        font-weight: lighter;
        width:60%;
        margin: 1em auto;
        color: white;
        line-height: 2em;
        @include tablet{
            font-size: .9em;
            width:80%;
        }
        @include mobile {
            font-size: .8em;
            margin: 2em auto;
            width:90%;
        }
    }
    .about__image{
        width:40%;
        height:auto;
        display: block;
        margin: auto;
    }

    .about__quotation{
        color: white;
        width:90%;
        text-align: right;
      font-family: 'Arizonia', cursive;
      font-size: 1.2em;
        @include tablet{
            font-size: .9em;
            width:100%;
        }
    }
}