.footer{
    background-color: white;
    color:black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding:2em 5em;
    grid-column-gap: 1.5em;

    @include laptop{
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }

    @include tablet{
        grid-template-columns: 1fr;

    }
    .footer__content:nth-of-type(4){
        @include tablet{
            border-bottom: none;
            padding:1em;
        }
    
    }
    .footer__content{
        @include mobile{
           border-bottom:1px solid black;
            padding:1em 0;
        }
        
    @include tablet{
        border-bottom: 1px solid black;
        padding:1em;

    }
        a{
            color:black;
            &:hover{
                color:rgb(123, 128, 128);
                text-decoration: none;
            }
        }
    
        .footer__icon{
            margin-right:1em;
            font-size: 1.4em;
            @include tablet{
                font-size: 1em;
            }
        }
    
        .footer__heading{
            font-size: 1em;
            font-family: 'Roboto';
            @include tablet{
                font-size: .8em;
            }
        }

        .footer__text{
            font-size: .8em;
            margin:1.2em auto;
            @include tablet{
                font-size: .7em;
            }
        }

        .footer__input{
            color: white;
            border: 1px solid white;
            padding: .8em 1em;
            font-size: .9em;
            border: none;
            background-color: rgb(53, 52, 52);
            @include tablet{
                font-size: .8em;
            }
            @include mobile{
                font-size: .6em;
             }
        }
    
        .footer__button{
            padding: .5em 1em;
            display: block;
            background-color: rgb(109, 33, 109);
            font-size: .9em;
            border:none;
            color:white;
            margin:1.5em 0;
            &:hover{
                background-color: rgb(68, 22, 68);
            }
             @include laptop{
                margin: 1.5em auto;
            }
            @include tablet{
                font-size: .7em;
            }
            @include mobile{
                font-size: .6em;
             }
        }


        
        .contact__icons{
        
            i{
            padding:0.2em; 
            cursor:pointer;
            
            &:hover{
                color:rgb(126, 123, 123);
            }
            }
        }
 
    }

  
    
   
}
