.button--go__container{
    .button--go__button{
        display:inline-block;
        padding: 0.5em 2em;
        font-size: 0.8em;
        border:2px solid rgb(109, 33, 109);
        background-color: black;
        color:white;
        @include mobile {
            font-size: .7em;
            margin:1em;
        }
        &:hover{
            background-color: rgb(56, 55, 55);
        }
    }
}