.imageCaptionLeft__container{
    position: relative;

    .imageCaption__image{
        width:100%;
    }

    .imageCaption__head{
        position:absolute;
        top:10%;
        right:50%;
        left:3%;
        font-size:6em;


    
  
      @include laptop{
        font-size:5em;
        right:30%;
      }

      @include tablet {
        font-size:3em;
        top:0%;
      }

      @include mobile {
        font-size:2em;
     
      }

    }
}